# Requirements for the correct functioning of the application, excluding TTS functionality
aniso8601==9.0.1
asttokens==2.4.1
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
decorator==5.1.1
executing==2.0.1
Flask==3.0.3
Flask-JWT-Extended==4.6.0
Flask-RESTful==0.3.10
greenlet==3.0.3
idna==3.8
ipython==8.27.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
parso==0.8.4
prompt_toolkit==3.0.47
psycopg2==2.9.9
pure_eval==0.2.3
PyAudio==0.2.14
pycparser==2.22
Pygments==2.18.0
PyJWT==2.9.0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.31
srt==3.5.3
stack-data==0.6.3
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.2
vosk==0.3.45
wcwidth==0.2.13
websockets==13.0.1
Werkzeug==3.0.3
