cryptography==43.0.1
flasgger==0.9.7.1
Flask==3.0.3
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
geopy==2.4.1
psycopg2-binary==2.9.9
PyAudio==0.2.14
python-dotenv==1.0.1
SQLAlchemy==2.0.31
vosk==0.3.45
waitress==3.0.0
Wave==0.0.2
transformers==4.44.2
TTS==0.22.0
# langchain
# langchain_openai
# langchain_experimental
